<div class="container">
  <form
    #formUsuario="ngForm"
    (ngSubmit)="procesarUsuario(formUsuario)"
    novalidate
  >
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input
        type="text"
        class="form-control"
        id="nombre"
        [ngModel]="usuario.first_name"
        name="first_name"
      />
    </div>
    <div class="mb-3">
      <label for="apellidos" class="form-label">Apellidos</label>
      <input
        type="text"
        class="form-control"
        id="apellidos"
        [ngModel]="usuario.last_name"
        name="last_name"
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Correo electrónico</label>
      <input
        type="email"
        class="form-control"
        id="email"
        [ngModel]="usuario.email"
        name="email"
      />
    </div>
    <div class="mb-3">
      <label for="avatar" class="form-label">Url de avatar</label>
      <input
        type="url"
        class="form-control"
        id="avatar"
        [ngModel]="usuario.avatar"
        name="avatar"
      />
    </div>
    <div class="mb-3">
      <div class="btn-group" role="group">
        <button type="submit" class="btn btn-primary">{{(usuario.id>0)?'Actualizar usuario':'Crear usuario'}}</button>
        <button type="button" class="btn btn-danger" routerLink="/usuarios">
          Cancelar
        </button>
      </div>
    </div>
  </form>
</div>
