footer{
  background-color: #1976d2;
  padding: 60px;
  padding-left: 100px;
  padding-right: 100px;
  color: white;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{text-decoration: underline;}
