<div class="container">
  <header>
    <div class="row">
      <div class="col">
        <img src="../assets/imgs/logo.png" />
      </div>
      <div class="col flex-container">
        <h1 class="display-6">{{ "cabecera.titulo" | translate }}</h1>
      </div>
    </div>
  </header>
</div>
