<app-cabecera *ngIf="autenticacionService.isLogged()"></app-cabecera>
<app-navegacion *ngIf="autenticacionService.isLogged()"></app-navegacion>
<router-outlet></router-outlet>
<app-pie *ngIf="autenticacionService.isLogged()"></app-pie>
