<div id="template-bg-1">
  <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <div class="card p-4 text-white bg-primary mb-5">
      <div class="card-header">
        <h3>Iniciar sesión</h3>
      </div>
      <div class="card-body w-100">
        <form [formGroup]="form" (ngSubmit)="login()" novalidate>
          <div class="input-group form-group mt-3">
            <div class="bg-secondary rounded-start">
              <span class="m-3"><i class="fas fa-user mt-2"></i></span>
            </div>
            <input
              type="email"
              class="form-control"
              placeholder="Correo electrónico"
              formControlName="email"
            />
          </div>
          <div class="input-group form-group mt-3">
            <div class="bg-secondary rounded-start">
              <span class="m-3"><i class="fas fa-key mt-2"></i></span>
            </div>
            <input
              type="password"
              class="form-control"
              placeholder="Contraseña"
              formControlName="password" />
          </div>
          <div class="form-group mt-3">
            <input
              type="submit"
              value="Acceder"
              class="btn bg-secondary float-end text-white w-100"
              name="login-btn"
              [disabled]="form.invalid"
            />
          </div>
        </form>
        <div class="text-danger"></div>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center">
          <div [class]="claseMensaje">
            {{mensaje}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
