<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li
          class="nav-item"
          routerLinkActive="activo"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" aria-current="page" routerLink="/inicio"
            >{{ "navegacion.inicio" | translate }}</a
          >
        </li>
        <li class="nav-item" routerLinkActive="activo">
          <a class="nav-link" routerLink="/usuarios">{{ "navegacion.usuarios" | translate }}</a>
        </li>
        <li class="nav-item" routerLinkActive="activo">
          <a class="nav-link" routerLink="/facturas">{{ "navegacion.facturas" | translate }}</a>
        </li>
      </ul>
      <div class="d-flex">
        <app-idioma></app-idioma>
        <button class="btn" type="submit" (click)="logout()">{{ "navegacion.logout" | translate }}</button>
      </div>
    </div>
  </nav>
</div>
