<div class="container">
  <div class="flex-container">
    <button class="btn btn-primary" [routerLink]="['/usuarios', -1]">Crear usuario</button>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Email</th>
        <th scope="col">Avatar</th>
        <th scope="col">Operación</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios" class="align-middle">
        <td>{{ usuario.id }}</td>
        <td>{{ usuario.first_name }}</td>
        <td>{{ usuario.last_name }}</td>
        <td>{{ usuario.email }}</td>
        <td><img src="{{usuario.avatar}}" alt="avatar" class="img-thumbnail img-fluid" /> </td>
        <td>
          <button [routerLink]="['/usuarios', usuario.id]" class="btn btn-primary">Editar</button>
          <button class="btn btn-danger" (click)="borrarUsuario(usuario.id)">Borrar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li
        class="page-item"
        *ngFor="let in of contador(tamanoTotalPaginas); let i = index"
        (click)="cargarPagina(i + 1)"
      >
        <a class="page-link">{{ i + 1 }}</a>
      </li>
    </ul>
  </nav>
</div>
