<div class="container">
<app-jumbotron textoBoton="Navegar"
  primerParrafo="Vamos a explicar los elementos fundamentales"
  segundoParrafo="Se me están acabando las ideas" textoTitulo="Bienvenidos a la nueva aplicación Angular"
></app-jumbotron>
</div>
